/* .job {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
} */

.splitted {
    columns: 2 auto;
    display: inline-block;
}

@media (min-width: 544px) {
    h4 {font-size:1rem;}
  }

  @media (min-width: 768px) {  
    h4 {font-size:1.5rem;} /*1rem = 16px*/
  }

  .checkbox-parent {
      min-width: 130px;
  }
  
  html, body {
      max-width: 100%;
      overflow-x: hidden;
  }